:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

//alert
$x1: rgb(240, 240, 240);
$x2: var(--success);
$x3: var(--danger);

//header
$x4: rgba(255, 255, 255, 0.03);

//body
$x5: #f3f5f7;

//sidebar
$x6: #3b5de7;
$x7: #8687a7;
$x8: rgba(0, 0, 0, 0.04);
$x9: #707d8a;

//pagination
$x10:linear-gradient(-45deg, #293e92 0%, #293e92 33%, #465186 100%)