.menu {
  position: relative;

  &__dropdown {
    will-change: transform;
    position: absolute;
    width: 16rem;
    left: 0;
    box-shadow: 0 0.2rem 2rem rgb(0 0 0 / 12%);
    background-color: #fff;
    border: 0 solid rgba(0,0,0,.15);
    border-radius: .25rem;
    padding: 1rem 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease 0S;
    top: 130%;

    &--open{
      opacity: 1;
      visibility: visible;
      top: 100%;
    }
    &-link{
      padding: 0 1rem;
      color: black;
      display: block;
      font-size: 1.44rem;
    }
    &--exit{
      color: #db1717;
    }
    &-icon{
      margin-left: .6rem;
      font-size: 1.6rem;
    }
  }
}